body {
  font-family: arial;
}

a {
  color: #777;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}